-for(const item of list)
    .Con.mr-3(onclick="getNewsBoard(" + item.id +")",data-toggle="modal", data-target="#newsModal")
        .newsImg(style="background : url(" + item.img + "); background-size:cover")
        .newsTitle #{item.title}