doctype html
html
    head
        title wow
        link(rel='stylesheet', href='/css/style.css')
    body
        div
            input#UID(type="text")
            br
            input#PASSWORD(type="password")
            br
            input#EMAIL(type="email")
            br
            button#send 하이루
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
        script(src="/js/index.js")