doctype html
html
    head
        title news
        link(rel='stylesheet', href='/vendor/bootstrap/css/bootstrap.css')
        link(rel='stylesheet', href='/css/style.css')
    body
        div.wrapper
            div.contents
                div.title 소 식
                div.discription 1. 멀리 떨어져 있는 사람의 사정을 알리는 말이나 글.
                div.mb-5.discription 2. 천지의 시운이 끊임없이 변화하고 순환하는 일.
                div
                    div.mb-2.w-100.btn.btn-secondary(data-toggle="modal", data-target="#login") 로그인
                    div.w-100.btn.btn-dark#downInfo 더 알아보기
        div.welcome
            div.contents
                div.wTitle.mb-5 소식은 어떤 사이트인가요?
                div.discription
                    p 소식은 포털사이트에서 가져온 뉴스 중 자신이 원하는 언론사 또는 주제를 선정해 피드를 받아 볼 수 있는 사이트입니다.
                div(style="text-align: center")
                    div.w-50.btn.btn-secondary.mb-2(style="margin: 0 auto") 로그인
                    br
                    div.w-50.btn.btn-dark#upLogin(style="margin: 0 auto") 위로 올라가기
        div.welcomes
            div.join
                div.jTitle
                    h2 회원가입
                    hr
                div.forms
                    div.form-group
                        label(for="jId") 아이디
                        input.form-control#jId(type="text", placeholder="6~20자 이내의 영문 및 숫자를 작성해주세요.")
                        p.joinText
                    div.form-group
                        label(for="jPw") 비밀번호
                        input.form-control#jPw(type="password", placeholder="6~20자 이내의 비밀번호를 작성해주세요.")
                        p.joinText
                    div.form-group
                        label(for="jPwCheck") 비밀번호 확인
                        input.form-control#jPwCheck(type="password", placeholder="동일한 비밀번호를 작성해주세요.")
                        p.joinText
                    div.form-group
                        label(for="jEmail") 이메일
                        input.form-control#jEmail(type="email", placeholder="이메일을 작성해주세요. ex) exmaple@example.co.kr")
                        p.joinText
                div.buttons.pt-2
                    button.btn.btn-primary.mb-1#join 가입하기
                    button.btn.btn-info#joinBack 돌아가기
        div.modal.fade#login
            div.modal-dialog.modal-xl
                div.modal-content
                    div.modal-body
                        div
                            button.close(type="button", data-dismiss="modal") &times;
                        div.d-flex
                            div.w-50.text-center(style="border-right: 1px solid brown") 로그인
                                div.d-flex.flex-column.justify-content-center.align-items-center.mt-5
                                    div.form-group.text-left.w-75
                                        label(for="id") 아이디 :
                                        input.form-control#id(type="text")
                                    div.form-group.text-left.w-75
                                        label(for="pw") 비밀번호 :
                                        input.form-control#pw(type="password")
                                    div.w-75.btn.btn-primary.mb-1#log 로그인
                                    div.mb-5
                                        a.find(href="#", data-dismiss="modal" data-toggle="modal", data-target="#findForm") 아이디 / 비밀번호 찾기
                            div.w-50.text-center.d-flex.justify-content-center.align-items-center
                                div.d-flex.flex-column.justify-content-center.align-items-center
                                    p.mb-3 혹시 계정이 없으신가요?
                                    div.w-100.btn.btn-info(data-dismiss="modal")#goJoin 회원가입하기
        div.modal.fade#findForm
            div.modal-dialog.modal-xl
                div.modal-content
                    div.modal-body
                        div
                            button.close(type="button", data-dismiss="modal") &times;
                        div.d-flex.mb-5
                            div.w-50.text-center(style="border-right: 1px solid brown") 아이디 찾기
                                div.d-flex.flex-column.justify-content-center.align-items-center.mt-5#findIdRes
                                    div.form-group.text-left.w-75
                                        label(for="findId") 이메일 :
                                        input.form-control#findId(type="email")
                                    div.w-75.btn.btn-primary.mb-1#findIdBtn 아이디 찾기
                            div.w-50.text-center 비밀번호 찾기
                                div.d-flex.flex-column.justify-content-center.align-items-center.mt-5#findPwRes
                                    div.form-group.text-left.w-75
                                        label(for="findPwId") 아이디 :
                                        input.form-control#findPwId(type="text")
                                    div.form-group.text-left.w-75
                                        label(for="findPwEm") 이메일 :
                                        input.form-control#findPwEm(type="email")
                                    div.w-75.btn.btn-primary.mb-1#findPwBtn 비밀번호 찾기
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
        script(src="https://kit.fontawesome.com/636ffb1ff3.js" crossorigin="anonymous")
        script(src="/vendor/bootstrap/js/bootstrap.js")
        script(src="/js/index.js")
