doctype html
html
    head
        title wow
        link(rel='stylesheet', href='/css/style.css')
    body
        div
            h1 #{news.title}
            p(style='text-align: right')
                img(src='' + news.press.img)
                span #{news.press.name}
        div
            p(style='text-align : left') #{news.news_dt}
            p !{news.contents}