doctype html
html
    head
        title wow
        link(rel='stylesheet', href='/css/style.css')
    body
        div
            p 아이디 : #{user.uid}
            p 비밀번호 : #{user.password}
            p 이메일 : #{user.email}
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")