@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700&display=swap');

.contents {
    margin-left:17%;
    width:83%;
    height: 100%;
    padding: 3% 7%;
    display: flex;
    flex-direction: column;
    font-family: 'Nanum Gothic', sans-serif;
}

.recent {
    display: flex;
    flex-direction: column;
}
.fiveCon {
    display: flex;
}
.Con {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 250px;
    background: white;
    border-radius: 5px;
    box-shadow: 0px 3px 3px gray;
    cursor: pointer;
}

.newsImg {
    width: 100%;
    height: 60%;
    background: beige;
}
.newsTitle {
    width:100%;
    heigth:40%;
    padding: 3% 3%;
    font-size: 0.9em;
    font-weight: bold;
}

.myList {
    width: 100%;
}
.listComment {
    color: gray;
}

.news {
    width:100%;
    height: 200px;
    display: flex;
    cursor: pointer;
}
.newsPre {
    width: 15%;
    height: 100%;
    background: black;
    border-radius: 10px;
    background-size: cover;
}
.newsCon {
    padding: 0% 1%;
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
}
.nTitle {
    font-size: 2em;
    font-weight: bold;
}
.nCon {
    padding-top: 2%;
    color: gray;
}
.nInfo{
    width:15%;
    font-size: 0.9em;
    color:gray;
    text-align: right;
    padding: 0.5% 1%;
}

#plus {
    width:100%;
    height: 1px;
}

#boxs{
    margin-top:1%;
}
.noNews{
    display: flex;
    flex-direction: column;
    width:100%;
    border-top: 1px solid lightgray;
    padding-top:3%;
}
.noNewsText {
    text-align: center;
}

.noNewsText h1{
    font-weight: bold;
}

.noNewsText a {
    color: gray;
}
.noNewsBtns {
    padding-top: 3%;
    display: flex;
    align-content: center;
    justify-content: center;
}
.noNewsBtn {
    width:49%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}
.noNewsBtn:first-child {
    border-right: 1px solid gray;
}
.btnText{
    color:gray;
    margin-bottom: 3%;
}
.w50{
    width:25%;
    margin:0 auto;
}
.noNewsBtn i {
    font-size:5em;
    margin-bottom:3%;
}

.types {
    display: flex;
    margin-bottom: 5%;
    color: gray;
}
.type{
    font-size: 1.3em;
    width : 50%;
    cursor: pointer;
}
.type:first-child {
    text-align: right;
    padding-right: 20%;
    border-right: 1px solid gray;
}
.type:nth-child(2) {
    text-align: left;
    padding-left: 20%;
}
