include ../layout/head.pug
    title 소식
    link(rel='stylesheet', href='/css/mainContents.css')
body
    include ../layout/header.pug
    .contents
        .recent.mb-3
            a 최근에 올라온 기사들
        .fiveCon
            .Con.mr-3
                .newsImg
                .newsTitle 뉴스 제목을 적을겁니다.
            .Con.mr-3
                .newsImg
                .newsTitle 뉴스 제목을 적을겁니다.
            .Con.mr-3
                .newsImg
                .newsTitle 뉴스 제목을 적을겁니다.
            .Con.mr-3
                .newsImg
                .newsTitle 뉴스 제목을 적을겁니다.
            .Con.mr-3
                .newsImg
                .newsTitle 뉴스 제목을 적을겁니다.
        .listComment.mt-2
            small 최근에 올라온 기사 리스트는 둘러보기에서 확인이 가능합니다.
        #boxs
            .myList.mt-3
                .news
                    .newsPre
                    .newsCon
                        .nTitle
                        .nCon
                    .newsInfo
                        i.far.fa-clock.mr-1
                        a 39분전
                hr
        #plus.mt-5
    include ../layout/footer.pug
    script(src="/js/all.js")
    script(src="/js/plus.js")