doctype html
html
    head
        title wow
        link(rel='stylesheet', href='/vendor/bootstrap/css/bootstrap.css')
        link(rel='stylesheet', href='/css/user.css')
    body
        p 아직 인증을 받지 못했습니다. 입력하신 이메일인 #{email}을 확인해주세요!