include ../layout/head.pug
    title 소식
    link(rel='stylesheet', href='/css/mainNews.css')
body
    include ../layout/header.pug
    .contents
        .recent.mb-3
            a 최근에 올라온 기사들
        .fiveCon#recent
        .listComment.mt-2
            small 일주일 이내에 올라온 기사 5개를 랜덤으로 뽑은 리스트 입니다.
        div#boxs
        #plus.mt-5
    include ../layout/footer.pug
    script(src="/js/mainNews.js")