include ../layout/head.pug
    title 소식
    link(rel='stylesheet', href='/css/mainNews.css')
body
    include ../layout/header.pug
    .contents
        div#boxs
        #plus.mt-5
    include ../layout/footer.pug
    script(src="/js/saveNews.js")