include ../layout/head.pug
    title 소식
    link(rel='stylesheet', href='/css/test.css')
body
    include ../layout/header.pug
    .contents
        .pressInfo
            .name JTBC
            .info
                .item
                    .num 2위
                    .exp 전체 언론사 중 팔로우 순위는?
                .item
                    .num 33명
                    .exp 이 언론사를 몇 명이 팔로우 했을까요?
                .item
                    .num 128개
                    .exp 이 언론사가 올린 기사의 개수는?
        #box
        #plus.mt-5
    include ../layout/footer.pug
    script(src="/js/test.js")