script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
script(src="/vendor/bootstrap/js/bootstrap.js")
script(src="https://kit.fontawesome.com/636ffb1ff3.js" crossorigin="anonymous")
script(src="/js/main.js")