.wrapper
    .menu
        .setting
            .sett.w-50
            .cogs.w-50
                i(class="fas fa-cog")
                i#logout(class="fas fa-power-off")
        .userInfo
            .userImg
            hr
            .myId
                a matathresh1740
            .like.mt-1
                small 팔로우 현황 보기
                br
                small 저장한 기사 보기
        .elem#myNews
            .icon
                i(class="fas fa-thumbtack fa-2x").mr-3
            .menuText
                a.text 내 소식
        .elem#news
            .icon
                i(class="fas fa-globe-asia fa-2x").mr-3
            .menuText
                a.text 둘러보기
        .elem#press
            .icon
                i(class="far fa-newspaper fa-2x").mr-3
            .menuText
                a.text 언론사
        .elem#topic
            .icon
                i(class="fas fa-list fa-2x").mr-3
            .menuText
                a.text 주제